{% extends "base.html" %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}
{% block content %}

    {% for post in page %}
        
        <h3>
            <h3>Автор: <a href="{% url 'profile' post.author %}">{{ post.author.get_full_name }}</a>
            , Дата публикации: {{ post.pub_date|date:"d M Y" }}
        </h3>
        {% if post.group %}
            <h4>Группа: <a href="{% url 'group_posts' post.group.slug %}">{{ post.group }}</a></h4>
        {% endif %}
        
        <p>{{ post.text|linebreaksbr }}</p>
        
        {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    
    {% include "paginator.html" %}

{% endblock %}